<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="699788f9-6b9d-4f40-a8db-ec2cac1274cb" created="2.2.0" activeEnvironment="Default environment" name="Project 4" resourceRoot="" updated="2.3.0 2018-03-06T16:28:42Z" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:environment id="351929b1-9826-4682-8d27-48a7f97f45af" name="test"><con:service type="REST" name="REST Service 1"><con:endpoint authProfile="No Authorization"/></con:service><con:databaseConnectionContainer/><con:jmsConnectionContainer/></con:environment><con:authRepository/><con:environmentSpec><con:entry environmentId="351929b1-9826-4682-8d27-48a7f97f45af"><con:authProfile>No Authorization</con:authProfile></con:entry></con:environmentSpec><con:tags/></con:soapui-project>