<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a32b4fa7-a58f-4c0f-ab49-5f5798c0109a" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a32b4fa7-a58f-4c0f-ab49-5f5798c0109afileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="351929b1-9826-4682-8d27-48a7f97f45af"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>