<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="accd79ed-eb10-4ee2-92e3-937d02295ed5" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="accd79ed-eb10-4ee2-92e3-937d02295ed5fileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="351929b1-9826-4682-8d27-48a7f97f45af"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>