<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="28ade293-97e3-4140-af1f-44dd56aa7af8" name="http://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="6639becc-aed5-4ffd-9540-d86872ddfcf0fileName">http%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting><con:setting id="28ade293-97e3-4140-af1f-44dd56aa7af8fileName">http%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="351929b1-9826-4682-8d27-48a7f97f45af"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>